[submodule "opencode/config/superpowers"]
	path = opencode/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "opencode/config/anthropics-skills"]
	path = opencode/anthropics-skills
	url = https://github.com/anthropics/skills.git
[submodule "opencode/config/cloudflare-skills"]
	path = opencode/cloudflare-skills
	url = https://github.com/cloudflare/skills.git
[submodule "opencode/config/stitch-skills"]
	path = opencode/stitch-skills
	url = https://github.com/google-labs-code/stitch-skills.git
[submodule "opencode/config/awesome-agent-skills"]
	path = opencode/awesome-agent-skills
	url = https://github.com/VoltAgent/awesome-agent-skills.git
[submodule "opencode/config/jenkins-cli"]
	path = opencode/jenkins-cli
	url = https://github.com/avivsinai/jenkins-cli.git
[submodule "opencode/config/claude-bash-approve"]
	path = opencode/claude-bash-approve
	url = https://github.com/mariusvniekerk/claude-bash-approve.git
